*.txt
*.bed
*.bam
*.bai
_*
testbed/
template_engine.py
example/
tmp/
*~
dev/*
pipeline.log
time.log
runTestMain.sge*
OldVersions/
Bowtie2/
THINGS_TO_TEST.md
Coverage_Stats_Extension/*.gff
testbed/
data/snpeff/*/*.fa
data/snpeff/*/*.gff
data/snpeff/*/*.bin
data/snpeff/*/*.sge
data/snpeff/*/*.sge.*
data/snpeff/snpEff.config
