*.txt
*.bed
*.bam
*.bai
_*
test*
template_engine.py
example/
tmp/
*~
dev/*
Bamboozle-alpha/OLD_bamboozle.py
pipeline.log
time.log
vilmas_pipeline/Skeletonema_marinoi_adaptation_to_warming_project_refv.1.1.1/
